/* BFG+ main styles */

div#bfg {
  width: 80%;
}

.bfg-body{
  display: inline;
}


/* BFG+ modal blog post styles */

.bfg-post {
  float: left;
  margin: 10px;
  display: block;
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.bfg-post-body {
  display: none;
}

.bfg-post-header {
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}


